body {
    font-family : "Menlo", monospace;
    background-color: #282c34;
    color: #60aceb; 
    font-size: 12pt;
  }
h1 {
    font-family : "Menlo", monospace;
    font-weight: normal;
    font-size: 24pt;
    color: #9aa1ae;
}
h3 {
    font-family : "Menlo", monospace;
    font-weight: normal;
    font-size: 18pt;
}
p {
    color: #9aa1ae;
    font-size: 12pt;
}

a:link {
    color: #9aa1ae;
    font-family : "Menlo", monospace;
    text-decoration: none;
    font-size: 12pt;
    
    }
a:visited {
    color: #9aa1ae;
    font-family : "Menlo", monospace;
    }
a:hover {
    color: #60aceb;
    font-family : "Menlo", monospace;
    transition: all 500ms ease;
    animation: reverse;
    }

#position {
    position: absolute;
    left: 150px;
    top: 70px;
}