@font-face {
	font-family: 'pill-gothic';
	src: url('../assets/fonts/pill-gothic-600mg-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'pill-gothic-header';
	src: url('../assets/fonts/pill-gothic-600mg-bold.ttf') format('truetype');
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 768px) {
	.header {
		flex-direction: column;
	}
}
.page {
	padding-right: 10px;
	color: unset;
	display: flex;
	align-items: center;
}
.footer {
	margin-top: rem(120px);
	border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
.innerFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--mantine-spacing-xl);
	padding-bottom: var(--mantine-spacing-xl);
}
a {
	color: #2997ff;
	text-decoration: none;
}